body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: #f4f4f4;
}

a {
  color: rgba(138,180,248,1);;
  text-decoration: none;
}

a:hover {
  color: #3f7fb3d4;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.wrap {
  margin: auto;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #3f7fb3d4;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: rgba(138,180,248,1);
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

.top-bar .top-bar-left{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  float: right;
}
.top-bar .text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 30px;
  padding: 0 10px;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, .15);
}
.top-bar .text i {
  font-size: 20px;
  color: rgba(138,180,248,1);;
  margin-right: 5px;
  border-radius: 50px;
  width: 25px;
  text-align: center;
  padding: 3px;
}
@media (max-width: 991px) {
  .top-bar {
    display: none;
  }
  .text i {
    display: none;
  }
}
#header {
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  background: #000;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
#header .logo h1 {
  font-style: italic;
  text-align: center;
  font-size: 20px;
  margin: 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 16px;
  font-weight: bolder;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: rgba(138,180,248,1);
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  color: #444444;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #4eb478;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(43, 43, 43, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #444444;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: rgba(138,180,248,1);;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: rgba(138,180,248,1);
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

#hero {
  width: 100%;
  height: 86vh;
  background: url("../img/hero.jpg") top center;
  background-size: cover;
  position: relative;
  border-bottom: 1px solid #222;
}
#hero:before {
  content: "";
  background: rgb(0 0 0 / 22%);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
  align-content: flex-end;
  flex-wrap: wrap;
}
#hero h1 {
  margin: 0 0 30px 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 35px;
  color: #fff;
}
#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 22px;
}
#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 30px;
  transition: 0.5s;
  border: 2px solid #3f7fb3d4;
  color: #fff;
}
#hero .btn-get-started:hover {
  background: #3f7fb3d4;
  border: 2px solid #3f7fb3d4;
}
@media (min-width: 1024px) {
  #hero h1, #hero h2 {
    width: 50%;
  }
}
@media (max-width: 768px) {
  #hero {
    height: 100vh;
    background-attachment: fixed;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #fafdfb;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3f7fb3d4;
  position: relative;
  z-index: 2;
}
.section-title span {
  position: absolute;
  top: 30px;
  color: #f4f4f4;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}
.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .section-title span {
    font-size: 38px;
  }
}

.about .content {
  padding-left: 30px;
}
.about .content h3 {
  font-weight: 700;
  font-size: 34px;
}
.about .content p {
  margin-bottom: 0;
}
.about .content .icon-box {
  margin-top: 25px;
}
.about .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}
.about .content .icon-box i {
  font-size: 48px;
  float: left;
  color: #3f7fb3d4;
}
.about .content .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}
.about .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
@media (max-width: 991px) {
  .about {
    padding-left: 0;
  }
  .about .image {
    text-align: center;
  }
  .about .image img {
    max-width: 80%;
  }
}
@media (max-width: 667px) {
  .about .image img {
    max-width: 100%;
  }
}

.contact .info-box {
  color: #444444;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px;
}
.contact .info-box i {
  font-size: 32px;
  color: #3f7fb3d4;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #cbcce9;
  float: left;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0 10px 68px;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}
.contact .info-contact{
  border-radius: 15px;
  padding-top: 80px;
  font-family: 'Raleway';
  background: #1f639b;
  color: white;
}
.contact .formulario-contact{
  font-family: 'Raleway';
  border-radius: 15px;
  box-shadow: 3px 2px 11px rgb(128 130 133);
}



@media (max-width: 991px) {
  .contact .info-contact {
    padding-top: 0px;
  }
}
.contact .php-email-form {
  padding: 30px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #3f7fb3d4;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #3f7fb3d4;
}
.contact .php-email-form input {
  padding: 10px 15px;
}
.contact .php-email-form textarea {
  padding: 12px 15px;
}
.contact .php-email-form button[type=submit] {
  background: #3f7fb3d4;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}
.contact .php-email-form button[type=submit]:hover {
  background: rgba(138,180,248,1);
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


#footer {
  padding: 0 0 30px 0;
  color: #d0d0d0;
  font-size: 14px;
  background: #111111;
}
#footer .footer-newsletter {
  padding: 50px 0;
  background: #111111;
  text-align: center;
  font-size: 15px;
  color: #fff;
}
#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}
#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 3px 20px;
  background: #4eb478;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type=submit]:hover {
  background: #45a36c;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #1b1b1b;
  color: #fff;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-contact p {
  text-align: justify;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #b7b7b7;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: rgba(138,180,248,1);
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #aaaaaa;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: rgba(138,180,248,1);
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #373737;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: rgba(138,180,248,1);
  color: #fff;
  text-decoration: none;
}
#footer .copyright {
  text-align: center;
  float: left;
}
#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
}

/**Nosotros*/

/***contenedor*/
.contenedor{
  width: 100%;
  height: 95vh;
  padding: 0;
}

.img-nosotros{
	width : 100%;
  height: 100%;
	background: url(../img/about.jpg);
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
}

.imagen-contenedor-nosotros{
  width: 50%;
  height: 100%;
}

.separador-m-v{
  text-align: justify;
  margin-top: 80px;
}

.iconos-nosotros i{
  font-size: 50px;
  color: #1f639b;
  cursor: pointer;
}

.cont-mision{
  margin: 10px;
  width: 50%;
}

.cont-vision{
  margin: 10px;
  width: 50%;
}

.s-nosotros{
  width: 100%;
}

.cont-nosotros{
  width: 50%;
}

.s-nosotros p{
  margin-top: 40px;
  color: #000;
}

.cont-mision p{
  margin-top: 20px;
  color: #000;
}

.cont-vision p{
  margin-top: 20px;
  color: #000;
}

.s-nosotros h2{
  color: #1f639b;
  font-weight: bold;
}

.cont-mision h2{
  color: #1f639b;
  font-weight: bold;
}

.cont-vision h2{
  color: #1f639b;
  font-weight: bold;
}



@media screen and (max-width: 991px) and (min-width: 200px){
  .cont-nosotros{
    width: 100%;
    margin-top: 20px;
  }

  .imagen-contenedor-nosotros{
    width: 100%;
  }

  .cont-mision{
    width: 100%;
  }

  .cont-vision{
    width: 100%;
    margin-top: 30px;
  }

  .contenedor{
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .imagen-contenedor-nosotros{
    width: 100%;
    height: 100%;
  }

  .separador-m-v{
    margin-top: 30px;
  }

  .s-nosotros p{
    margin-top: 20px;
  }

  .cont-mision p{
    margin-top: 10px;
  }

  .cont-vision p{
    margin-top: 10px;
  }

  .cont-vision h2 , .cont-mision h2{
    text-align: center;
  }
  
}

/*¿Quienes somos?*/

.quienes-somos{
  width: 100%;
  height: 91vh;
  padding: 0;
}

.hector-nosotros{
  width: 50%;
  background-color: #1f639b;
}

.hector-nosotros h1{
  padding: 10px;
  background-color: white;
  width: 50%;
  text-align: end;
  margin-bottom: 10%;
  color:#1f639b;
  font-weight: bold;
}

.contenedor-sobre-nosotros{
  width: 50%;
}

.contenedor-sobre-nosotros h1{
  color: #1f639b;
  font-weight: bold;
  margin-top: 10%;
}

.contenedor-sobre-nosotros h2{
  color: #1f639b;
  font-weight: bold;
  margin-bottom: 5%;
}

.contenedor-sobre-nosotros p{
  color: black;
  font-weight: 600;
  font-size: 20px;
  width: 70%;
  text-align: center;
}

@media screen and (max-width: 991px) and (min-width:300px ) {
  .quienes-somos{
    height: 100%;
  }

  .hector-nosotros{
    width: 100%;
    background-color: #1f639b;
    height: 20vh;
  }
  .contenedor-sobre-nosotros{
    width: 100%;
    height: 70vh;
  }

  .hector-nosotros h1{
    text-align: center;
    margin-bottom: 10%;
  }

}

/***Servicios carosuel***/

.carousel-item-cont{
  height: 100vh;
  background:#777;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
}

.cont-item-carousel{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 20%;
  padding-bottom: 50px;
  width: 100%;
}

.iconos-n-servicios{
 width: 50%;
 margin: auto;
}

.iconos-n-servicios img{
  width: 250px;
  padding: 20px;
}

.servicios-n p{
  width: 60%;
  text-align: center;
}

.servicio-eletricidad{
  width: 50%;
}

.servicio-eletricidad h3{
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.servicio-instalacion{
  width: 50%;
} 

.servicio-instalacion h3{
  text-align: center;
  font-size: 20px;
} 

/*ELectricidad*/

.cont-item-carousel-electricidad{
  position: absolute;
  left: 47%;
  right: 0;
  top: 0;
  width: 33%;
}

.elect-serv{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px 0px;
}

.elect-serv h3{
  width: 100%;
  text-align: center;
}

.elect-serv ul{
  width: 100%;
  list-style: none;
}

.elect-serv li{
  padding: 10px;
}

/*Bombas de agua*/

.cont-item-carousel-bombas-a{
  position: absolute;
  left: 40%;
  right: 0;
  top: 0;
  width: 40%;
}

.bombas-a{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px 0px;
}

.bombas-a h3{
  width: 100%;
  text-align: center;
}

.bombas-a ul{
  width: 100%;
  list-style: none;
}

.bombas-a li{
  padding: 10px;
}

@media screen and (max-width:991px) and (min-width:300px){
  .iconos-n-servicios img{
    color: white;
    width: 150px;  
    padding: 10px;
  }

  .servicios-n p{
    width: 90%;
    text-align: initial;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
  }

  .servicio-eletricidad h3{
    text-align: center;
    font-size: 15px;
    padding: 10px;
  }

  .servicio-instalacion h3{
    text-align: center;
    font-size: 15px;
  } 

  .iconos-n-servicios{
    width: 100%;
    margin: auto;
   }

   .cont-item-carousel-bombas-a{
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    width: 80%;
  }  

  .cont-item-carousel-electricidad{
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    width: 80%;
  }
  
}

/*Carga de iconos css*/

.facts {
  position: relative;
  width: 100%;
  min-height: 300px;
  margin: 0 0;
  display: flex;
  align-items: center;
  background: #202C45;
}

.facts .facts-item {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
}

.facts .facts-item i {
  margin-top: 15px;
  font-size: 45px;
  color: #E81C2E;
}

.facts .facts-text {
  padding-left: 20px;
}

.facts .facts-text h3 {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
}

.facts .facts-text h3::after {
  position: absolute;
  content: "\f067";
  top: 0px;
  right: -25px;
  color: #ffffff;
  font-size: 25px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.facts .facts-text p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
